<address>
  <p>
    Grupo de Extensão em Livre & Open Source <br />
    <a href="https://icmc.usp.br">Instituto de Ciências Matemáticas e de Computação</a>
  </p>
  <p><a href="mailto:contato@gelos.club">contato@gelos.club</a></p>
  <p>Copyleft GELOS, 2021 - <a href="https://github.com/gelos-icmc/site">código fonte</a></p>
</address>
<nav>
  <ul>
    {% for item in site.data.external %}
    <li><a href="{{ item.url }}" target="_blank" rel="noreferrer noopener">{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</nav>
