<div class="title">
  <a aria-label="GELOS" href="/{{ site.baseurl }}">{% include icones/logo.svg %}</a>
  {% if include.full %}
    <p>Grupo de Extensão em Livre e Open Source</p>
    <p><a href="https://icmc.usp.br/">ICMC</a>/<a href="https://usp.br/">USP</a></p>
  {% endif %}
</div>
<nav>
  <ul>
    {% for item in site.data.navigation %}
    <li>
      <a {% if page.url == item.url or page.parent == item.url %} aria-current="page" {% endif %} href="{{ item.url | relative_url }}">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
