<article class="listing">
  <header>
    <{{ include.element | default: "h2" }}>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </{{ include.element | default: "h2"  }}>
    <p>
      {% if post.state %}
        {{ site.data.project_states[post.state] | default: "Desconhecido" }}
      {% endif %}

      {% if post.date and post.show_date %}
        {{ post.date | date: "%d/%m/%y" }}
      {% endif %}

      {% if post.author %}
        | <strong>{{ post.author }}</strong>
      {% endif %}
    </p>
  </header>
  <div class="excerpt">{{ post.excerpt | truncatewords: 30 | strip_html }}</div>
</article>
