<article class="listing">
  <header>
    <{{ include.element | default: "h2" }}>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </{{ include.element | default: "h2"  }}>
    <p>
      {% if post.state == "wip" %}
        Em concepção
      {% elsif post.state == "current" %}
        Em andamento
      {% elsif post.state == "suspended" %}
        Suspenso
      {% else %}
        {{ post.date | date: "%d/%m/%y" }}
      {% endif %}

      {% if post.author %}
        | <strong>{{ post.author }}</strong>
      {% endif %}
    </p>
  </header>
  <div class="excerpt">{{ post.excerpt }}</div>
</article>
