<article class="listing" id="{{ item.slug }}">
  <header>
    <{{ include.element | default: "h2" }}>
      <a href="{% if item.wiki %}{{ item.wiki | relative_url }}{% elsif item.blog %}{{ item.blog | relative_url }}{% endif %}">{{ item.title }}</a>
    </{{ include.element | default: "h2"  }}>
    <p>

      {% if item.datetime %}
        Data e hora: {{ item.datetime }}<br>
      {% endif %}

      {% if item.location %}
        Local: {{ item.location }}<br>
      {% endif %}

      {% if item.wiki %}
        <a href="{{ item.wiki | relative_url }}">Página na Wiki</a><br>
      {% endif %}

      {% if item.wiki and item.blog %}
        <a href="{{ item.blog | relative_url }}">Post de divulgação</a><br>
      {% endif %}

      {% if item.author %}
        {% include person.html name=item.author %}
      {% elsif item.authors %}
        {% for author in item.authors %}
          {% include person.html short=true name=author -%}
          {%- unless forloop.last %}, {% endunless %}
        {%- endfor -%}
      {% endif %}
    </p>
  </header>
</article>
