<article class="listing" id="{{ post.slug }}">
  <header>
    <{{ include.element | default: "h2" }}>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </{{ include.element | default: "h2"  }}>
    <p>
      {% if post.state %}
        {{ site.data.project_states[post.state] | default: "Desconhecido" }}
      {% endif %}

      {% if post.date and post.show_date %}
        {{ post.date | date: "%d/%m/%y" }}
      {% endif %}

      {% if post.author %}
        | {% include person.html name=post.author %}
      {% elsif post.authors %}
        |
        {% for author in post.authors %}
          {% include person.html short=true name=author -%}
          {%- unless forloop.last %}, {% endunless %}
        {%- endfor -%}
      {% endif %}
    </p>
  </header>
  {% if post.description %}
    <div class="excerpt">{{ post.description }}</div>
  {% else %}
    <div class="excerpt">{{ post.excerpt | truncatewords: 30 | strip_html }}</div>
  {% endif %}
</article>
