---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
  <small>
    {{ page.date | date: "%d/%m/%y" }}

    {% if page.author %}
      | <strong>{{ site.data.people[page.author].name }}</strong>
    {% endif %}

    | <a href="/relatorios">Relatórios</a>
  </small>
</p>

{% if page.attendees or page.guests %}
<ul class="attendance">
<strong>Presentes</strong>:
  {% for attendee in page.attendees %}
    <li>{{ site.data.people[attendee].name }}</li>
  {% endfor %}
  {% for guest in page.guests %}
    <li><em>{{ guest }}</em></li>
  {% endfor %}
</ul>
{% endif %}

{{ content }}
