---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>

    <blockquote>
      {% if page.date and page.show_date %}
        <p>Data: <strong>{{ page.date | date: "%d/%m/%y" }}</strong></p>
      {% endif %}
      {% if page.author %}
        <p>Autor:
          <strong>
            {% include person.html name=page.author %}
          </strong>
        </p>
      {% elsif page.authors %}
        <ul>Autores:
          {% for author in page.authors %}
            <li>
              {%- include person.html name=author -%}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if page.state %}
        <p>Status:
          <strong>{{ site.data.project_states[page.state] | default: "Desconhecido" }}</strong>
        </p>
      {% endif %}

      {% if page.attendees %}
      <ul>Presentes:
        {% for attendee in page.attendees %}
          <li>
            {%- include person.html name=attendee -%}
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </blockquote>
    {% if page.pdf %}
    <p><a href="{{ page.url | replace: ".html", ".pdf" | relative_url }}">Também disponível em PDF</a></p>
    {% endif %}
  </header>

  {{ content }}
</article>
