---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>

    <blockquote>
      {% if page.date and page.show_date %}
        <p>Data: <strong>{{ page.date | date: "%d/%m/%y" }}</strong></p>
      {% endif %}
      {% if page.author %}
        <p>Autor: <strong>{{ page.author }}</strong></p>
      {% endif %}
      {% if page.state %}
        <p>Status:
          <strong>{{ site.data.project_states[page.state] | default: "Desconhecido" }}</strong>
        </p>
      {% endif %}

      {% if page.attendees %}
      <ul class="attendance">
        Presentes:
        {% for attendee in page.attendees %}
          <li>{{ attendee }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </blockquote>
    {% if page.pdf %}
    <p><a href="{{ page.url | replace: ".html", ".pdf" }}">Também disponível em PDF</a></p>
    {% endif %}
  </header>

  {{ content }}
</article>
