// Tema claro
:root {
  // Cor dos links
  --color-blossom: #2130b6;
  // Cor intermediária
  --color-trim: #218bcc;
  // Cor de hover
  --color-fade: #189fc0;

  // Cor do fundo
  --color-bg: #efedfa;
  // Cor do fundo alternativo (código, etc)
  --color-bg-alt: #bcbdcf;

  // Cor do texto base
  --color-text: #111;
}

@media (prefers-color-scheme: dark) {
  // Tema escuro
  :root {
    // Cor dos links
    --color-blossom: #698cfc;
    // Cor intermediária
    --color-trim: #68abf4;
    // Cor de hover
    --color-fade: #71c6db;

    // Cor do fundo
    --color-bg: #22232a;
    // Cor do fundo alternativo (código, etc)
    --color-bg-alt: #34343d;

    // Cor do texto base
    --color-text: #ccc;
  }
}
