// Tema claro
:root {
  // Cor dos links
  --color-blossom: #2a21b6;
  // Cor de hover
  --color-fade: #028fb2;

  // Cor do fundo
  --color-bg: #efedfa;
  // Cor do fundo alternativo (código, etc)
  --color-bg-alt: #bcbdcf;

  // Cor do texto base
  --color-text: #111;
}

@media (prefers-color-scheme: dark) {
  // Tema escuro
  :root {
    // Cor dos links
    --color-blossom: #5e72ff;
    // Cor de hover
    --color-fade: #71afdb;

    // Cor do fundo
    --color-bg: #22232a;
    // Cor do fundo alternativo (código, etc)
    --color-bg-alt: #34343d;

    // Cor do texto base
    --color-text: #ccc;
  }
}
