@import "colors";

// Tamanho do texto base
$font-size-base: 1.8rem;

// Fonte(s) do corpo
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
// Fontes dos cabeçalhos
$font-family-heading: $font-family-base;

@import "sakura";

// Breakpoints para a largura do body
body {
  max-width: 38em;
  @media (min-width: 950px) {
    max-width: 45em;
  }
  @media (min-width: 1400px) {
    max-width: 53em;
  }
  @media (min-width: 1900px) {
    max-width: 61em;
  }
}

a {
  transition: color 0.4s ease;
  svg stop {
    transition: stop-color 0.4s ease;
  }
  &:hover {
    border-bottom: none;
  }
}

// Lista de páginas na navegação
nav ul {
  padding-left: 0;
  margin-bottom: 2.5rem;
  // Tira bolinhas
  list-style: none;

  // Dispõe na horizontal
  li {
    display: inline;
    vertical-align: middle;
  }
  li + li::before {
    color: var(--color-bg-alt);
    content: "/ ";
  }

  // Página atual (tira aparência de link)
  [aria-current="page"] {
    color: var(--color-text);
  }
}

// Imagens com texto (pessoas, por exemplo)
figure {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  img {
    border-color: var(--color-blossom);
    border-style: solid;
  }
}

// Título principal (GELOS)
.title {
  font-size: $font-size-base * 1.5;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 1.4em;
  @media (min-width: 950px) {
    font-size: 1.5em;
  }
  @media (min-width: 1400px) {
    font-size: 1.6em;
  }

  .title {
    margin-top: 1.5em;
    max-width: 15em;
    svg {
      font-size: 1.8em;
    }
    font-size: 1.2em;
  }

  nav {
    max-width: 15em;
  }

  footer {
    font-size: 0.7em;
    address {
      max-width: 30em;
      padding-top: 1em;
    }
    nav {
      max-width: 30em;
      padding-top: 1em;
    }
    margin-top: 5em;
    padding-top: 0.5em;
    max-width: 50em;
  }
}

fieldset {
  border: 0;
  border-top: 1px solid var(--color-fade);
  margin-top: 2em;
  legend {
    font-weight: bold;
    font-size: 110%;
  }
}

button {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 12px 25px;
  border-radius: 5px;
}

// Precisamos de classe pois CSS não tem seletor pai
label.required:before {
  content:" *";
  color: red;
}

ul.attendance {
  padding-left: 0;
  // Tirar bolinhas
  list-style: none;

  // Dispõe na horizontal, sem espaçamento adicional
  li {
    display: contents;
    // Separar por vírgulas, e ponto no fim.
    &::after {
      content: ",";
    }
    &:last-child:after {
      content: ".";
    }
  }
}

footer {
  margin-top: 5em;
  font-size: 85%;
  border-top: 1px solid var(--color-blossom);
  address, nav {
    padding-top: 1em;
    border-bottom: 1px solid var(--color-bg-alt);
  }
}

// Scrollável
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

main {
  border-top: 1px solid var(--color-bg-alt);
}

main > article > header {
  margin-bottom: 2em;
  font-size: 0.9em;
}

article.listing {
  margin-bottom: 2.5em;
  header {
    margin-bottom: 0.5em;
    :first-child {
      margin-bottom: 0.1em;
    }
    p {
      margin-block-start: 0.1em;
      margin-block-end: 0.1em;
      font-size: 0.8em;
    }
  }
  .excerpt {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    font-style: italic;
  }
}

section {
  margin-bottom: 4.5em;
  margin-top: 3em;
  header {
    :first-child {
      margin-bottom: 0.5em;
    }
  }
  article {
    margin-left: 1em;
  }
}

ul {
  margin-bottom: 0;
}
