---
title: Membros do GELOS
description: Listagem dos membros, e suas páginas
collection_src: members
---

<h1>{{ page.title }}</h1>
<p>
  {{ page.description }}. 
</p>
<p>
Se incluir nessa lista é um dos passos para ser membro pleno no GELOS. Basta
 <a href="https://github.com/gelos-icmc/site/new/main/src/_members?filename=seunome.md&value=---%0Atitle%3A%20Seu%20Nome%0A---%0A%0AOi%20%3AD">criar um arquivo</a>
 no <a href="https://github.com/gelos-icmc/site">repositório</a>!
</p>

<section>
  <header>
    <h2>Membros Plenos</h2>
  </header>
  
  {% assign members = site.members | sort:"title" | sort:"draft"  %}
  {% for post in members %}
  {% unless post.memberrole == "previous" %}
  {% include listagem.html %}
  {% endunless %}
  {% endfor %}
</section>

<section>
  <header>
    <h2>Antigos Membros</h2>
    <p>Membros anteriores e fundadores/coordenadores eméritos.</p>
  </header>
  
  {% assign members = site.members | sort:"title" | sort:"draft"  %}
  {% for post in members %}
  {% if post.memberrole == "previous" %}
  {% include listagem.html %}
  {% endif %}
  {% endfor %}
</section>
