---
title: Membros do GELOS
description: Listagem dos membros, e suas páginas
collection_src: members
---

<h1>{{ page.title }}</h1>
<p>
  {{ page.description }}. 
</p>
<p>
Se incluir nessa lista é um dos passos para ser membro pleno no GELOS. Basta
 <a href="https://github.com/gelos-icmc/site/new/main/src/_members?filename=seunome.md&value=---%0Atitle%3A%20Seu%20Nome%0A---%0A%0AOi%20%3AD">criar um arquivo</a>
 no <a href="https://github.com/gelos-icmc/site">repositório</a>!
</p>

{% assign members = site.members | sort:"title" | sort:"draft"  %}

<section>
  <header>
    <h2>Membros atuais</h2>
  </header>
  {%  assign current_members = members | where:"ex":false %}
  {% for post in members %}
  {% include listagem.html %}
  {% endfor %}
</section>

<section>
  <header>
    <h2>Antigos membros</h2>
    <p>Membros inativos e fundadores/coordenadores eméritos.</p>
  </header>
  {% assign former_members = members | where:"ex":true %}
  {% for post in members %}
  {% include listagem.html %}
  {% endfor %}
</section>
