---
title: Membros do GELOS
description: Listagem dos membros, e suas páginas
collection_src: members
---

<h1>{{ page.title }}</h1>
<p>
  {{ page.description }}. 
</p>
<p>
Se incluir nessa lista é um dos passos para ser membro pleno no GELOS. Basta
 <a href="https://github.com/gelos-icmc/site/new/main/src/_members?filename=seunome.md&value=---%0Atitle%3A%20Seu%20Nome%0A---%0A%0AOi%20%3AD">criar um arquivo</a>
 no <a href="https://github.com/gelos-icmc/site">repositório</a>!
</p>

<section>
  <header>
    <h2>Membros Plenos Ativos</h2>
  </header>
  {% assign members = site.members | sort:"title" | sort:"draft"  %}
  {% for post in members %}
  {% unless post.role == "alumni" %}
  {% unless post.role == "inactive" %}
  {% include listagem.html %}
  {% endunless %}
  {% endunless %}
  {% endfor %}
</section>

<section>
  <header>
    <h2>Membros Plenos Inativos</h2>
    <p>Membros que estiveram inativos no último semestre, mas ainda fazem parte do GELOS.</p>
  </header>
  
  {% assign members = site.members | sort:"title" | sort:"draft"  %}
  {% for post in members %}
  {% if post.role == "inactive" %}
  {% include listagem.html %}
  {% endif %}
  {% endfor %}
</section>


<section>
  <header>
    <h2>Alumni</h2>
    <p>Membros que deixaram o GELOS ou estão há muito tempo inativos e fundadores eméritos.</p>
  </header>
  
  {% assign members = site.members | sort:"title" | sort:"draft"  %}
  {% for post in members %}
  {% if post.role == "alumni" %}
  {% include listagem.html %}
  {% endif %}
  {% endfor %}
</section>
